# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.ruff_cache/

# Go
goforge/goforge
goforge/examples/*/webserver_binary

# Build outputs
/output/
/build/
/dist/
goforge_pkg/bin/
examples/*/build/
examples/*/dist/

# Shared libraries
*.dylib
*.so
*.dll
